@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


h1 {
 font-family: 'Edu TAS Beginner', cursive ;
}

.inika {
  font-family: 'Roboto', sans-serif;
}

.transition:hover {
  transition: 0.8;
  animation: ease-in-out;
}

.border-minimalist {
  border: 1px solid black;
}

.border-header {
  border-bottom: 1px solid rgb(189, 181, 181);
}

.loader-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid #555;
  border-top-color: #f8b26a;
  animation: loader-circle 1s linear infinite;
}

@keyframes loader-circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}


.floating {
  animation: kick 0.6s ease-in-out infinite alternate;
}

  @keyframes kick {
    0% {
      transform: translateY(0px);
    }

    100% {
      transform: translateY(2%);
    }
  }